/* * {
  box-sizing: border-box;
} */ 
/* 보더를 박스 안에다 넣는지 밖에다 넣을지. */
body {
  margin: 0px;
}

.box {
  width: 50px;
  height: 50px;
  border: solid;
  background-color: darkgoldenrod
}

.relative {
  position: relative;
  top: 50px;
  left: 50px;
  background-color: aquamarine 
  /* 일단 자기중심.(탑레프트 선언전 위치를기준) */
}

.absolute {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: burlywood
}

.parent {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 100px;
  background-color: cyan;
}

.ground {
  width: 500px;
  height: 500px;
  border: solid;
}

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;

}

img {
  float: right;
}